<section class="slider">
  <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item"> <img data-src="../../../assets/images/slider/slider.jpg"  alt="First slide"
      src="../../../assets/images/slider/slider.jpg">
        <div class="container">
          <div class="carousel-caption">
            <h1>Nullam <span>dolor sit non</span> bibendum fringilla tristique vehicula. </h1>
            <p>Praesent sit amet sollicitudin tellus. Phasellus nec hendrerit magna, ut luctus eros.</p>
            <p><a class="btn btn-default btn-lg" href="#" role="button">trial now</a>
            <a class="btn btn-default btn-lg" href="#" role="button">read more</a></p>
          </div>
        </div>
      </div>
      <div class="item active"> <img data-src="../../../assets/images/slider/slider1.jpg"
      alt="Second slide" src="../../../assets/images/slider/slider1.jpg">
        <div class="container">
          <div class="carousel-caption">
            <h1>Aliquam semper tellus <span>dolor sit non</span> </h1>
            <p>Curabitur a nisi nec magna tincidunt tempus. Nunc nulla ipsum, accumsan libero.</p>
            <p><a class="btn btn-default btn-lg" href="#" role="button">buy now</a>
            <a class="btn btn-default btn-lg" href="#" role="button">more info</a></p>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon carousel-control-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon carousel-control-right"></span></a> </div>
</section>
<!--end of slider section-->
<section class="main__middle__container">
  <div class="row text-center blue__line">
    <h2 class="">Malesuada fames ac turpis egestas, donec.</h2>
    <p class="big-paragraph">Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
  </div>
  <div class="row icons__blocks">
    <div class="container">
      <h2 class="text-center"><span>Who are we?</span></h2>
      <p class="small-paragraph text-center">Integer vitae libero ac risus egestas placerat.</p>
      <div class="sep text-center"><img src="../../../assets/images/icons/heart.png" alt="heart"></div>
      <div class="col-md-6">
        <h3>Commodo id natoque malesuada</h3>
        <p class="small-paragraph">Praesent semper mod quis eget mi. Etiam eu ante risus.</p>
        <img src="../../../assets/images/content__images/pic1.jpg" alt="pic" class="img-rounded">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.
        Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh,
        viverra non, semper suscipit, posuere a, pede.</p>
        <p><a href="#" class="btn btn-info">Learn more</a></p>
      </div>
      <div class="col-md-6">
        <h3>Commodo id natoque malesuada</h3>
        <p class="small-paragraph">Praesent semper mod quis eget mi. Etiam eu ante risus.</p>
        <img src="../../../assets/images/content__images/pic2.jpg" alt="pic" class="img-rounded">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.
        Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh,
        viverra non, semper suscipit, posuere a, pede.</p>
        <p><a href="#" class="btn btn-info">Learn more</a></p>
      </div>
    </div>
  </div>
  <div class="text-center three-blocks">
    <div class="container">
      <div class="row">
        <h2 class="">"Sed quis mauris sit amet magna accumsan tristique.
        Fusce suscipit ligula vel quam viverra sit amet mollis tortor congue."</h2>
        <p class="orange">- John Doe, google</p>
      </div>
    </div>
  </div>
  <div class="row icons__blocks three__blocks">
    <div class="container">
      <h2 class="text-center"><span>Products & Services</span></h2>
      <p class="small-paragraph text-center">Integer vitae libero ac risus egestas placerat.</p>
      <div class="sep text-center"><img src="../../../assets/images/icons/star.png" alt="star"></div>
      <div class="col-md-4"> <img src="../../../assets/images/content__images/img1.jpg" alt="image" class="img-responsive img-rounded">
        <h3><a href="#">Creative Design</a><br />
          <small>Vestibulum auctor dapibus neque.</small></h3>
        <p>Quisque et aliquam mauris. Nunc id cursus quam. Curabitur aliquam
        ornare ante et commodo. Nulla eu erat id massa egestas eleifend. Sed id venenatis.</p>
        <p><a href="#" class="btn btn-info">Learn more</a></p>
      </div>
      <div class="col-md-4 middle"> <img src="../../../assets/images/content__images/img2.jpg"
      alt="image" class="img-responsive img-rounded">
        <h3><a href="#">Creative Design</a><br />
          <small>Vestibulum auctor dapibus neque.</small></h3>
        <p>Quisque et aliquam mauris. Nunc id cursus quam. Curabitur aliquam ornare ante et commodo.
        Nulla eu erat id massa egestas eleifend. Sed id venenatis.</p>
        <p><a href="#" class="btn btn-info">Learn more</a></p>
      </div>
      <div class="col-md-4"> <img src="../../../assets/images/content__images/img3.jpg" alt="image" class="img-responsive img-rounded">
        <h3><a href="#">Creative Design</a><br />
          <small>Vestibulum auctor dapibus neque.</small></h3>
        <p>Quisque et aliquam mauris. Nunc id cursus quam. Curabitur aliquam ornare ante et commodo.
        Nulla eu erat id massa egestas eleifend. Sed id venenatis.</p>
        <p><a href="#" class="btn btn-info">Learn more</a></p>
      </div>
    </div>
  </div>
</section>
